<!-- app/views/home/index.html.erb -->
<h1>Welcome to My App</h1>
<p>Please log in to see your articles.</p>

<% if user_signed_in? %>
  <%= link_to "Go to your Articles", my_articles_path %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %> or
  <%= link_to "Log In", new_user_session_path %>
<% end %>
