<h1>My Articles</h1>

<%= link_to "Add New Article", new_my_article_path %>

<div id="my_articles">
  <% @my_articles.each do |article| %>
    <div>
      <%= link_to article.title, my_article_path(article) %>
    </div>
  <% end %>
</div>
